article {
    border: solid;
    padding: 0 10px 10px;
    width: 300px;
    height: 300px;
    margin-top: 40px;
    border-radius: 15px;
}
.products {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.name {
    text-align: center;
}

.desc {
    text-align: center;
}

.price {
    color: brown;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    border: solid;
    padding: 10px;
    border-radius: 15px;
    width: 200px;
    margin: 10px auto;
}

.but {
    margin-top: 10px;
}

.imgProduct {
    width: 150px;
}
.imgDiv {
    display: flex;
    justify-content: center;
}
