{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" href="static/css/admin.css">
{% endblock styles %}
{% block title %}Golden Vision. Административная панель{% endblock title %}

{% block main %}
    <h2>Здраствуйте, {{ login }}</h2>

    {% for product in products %}
        <p class="product">Id: {{product[0]}}; Название: {{product[1]}}; Цена: {{product[2]}}</p>
        <button data-id="{{product[0]}}" class="delete-good">Удалить запись</button>
    {% endfor %}

    <form method="post" enctype="multipart/form-data">
        <label for="id">ID:</label>
        <input type="number" name="id" id="id">

        <label for="title">Название товара:</label>
        <input type="text" name="title" id="title">

        <label for="price">Цена товара:</label>
        <input type="number" name="price" id="price">

        <label for="desc">Описание товара:</label>
        <textarea name="desc" id="desc" cols="30" rows="10"></textarea>

        <label for="photo">Изображение товара:</label>
        <input type="file" name="photo" id="photo">

        <input type="submit" value="Добавить товар">
    </form>

    <script src="/static/js/admin.js"></script>
{% endblock main %}
