{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="static/css/contacts.css">
{% endblock styles %}

{% block title %}Golden Vision. Контакты{% endblock title %}

{% block main %}
    <div class="contacts">
        <h2>Связаться с нами:</h2>
        <ul>
            <li>Электронная почта: <a target="_blank" href="https://mail.ru/">shop_glasses@mail.ru</a></li>
            <li>Группа вконтакте: <a target="_blank" href="https://vk.com/">Магазин очков "Golden Vision"</a></li>
            <li>Телеграмм: <a target="_blank" href="https://t.me/telegram">@Goldev_Vision</a></li>
            <li>Для звонков: 8-999-525-77-28</li>
        </ul>
    </div>
{% endblock main %}